<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-4795000952052288~4177969641</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ys.RockCrabCalendar.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rockcrabcalendar</string>
			</array>
		</dict>
	</array>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>기록에 첨부할 사진을 선택하기 위해 사진 보관함 접근이 필요합니다.</string>
	<key>QWERChannelID</key>
	<string>$(QWER_CHANNEL_ID)</string>
	<key>YouTubeAPIKey</key>
	<string>$(YOUTUBE_API_KEY)</string>
	<key>HolidayAPIKey</key>
	<string>$(HOLIDAY_API_KEY)</string>
</dict>
</plist>
