//
//  Secrets.xcconfig
//  RockCrabCalendar
//
//  Created by YuSeongChoi on 8/27/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

YOUTUBE_API_KEY = AIzaSyC-f4VpwFtwK1bVgAgnLwZsGAUvDR0YRgM
